{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h3>Messages</h3>
  <a href="{% url 'send_message' %}" class="btn btn-success mb-3">+ Send Message</a>
  <table class="table table-striped">
    <thead><tr><th>From</th><th>Subject</th><th>Sent On</th></tr></thead>
    <tbody>
      {% for msg in messages %}
      <tr>
        <td>{{ msg.sender.get_full_name }}</td>
        <td>{{ msg.subject }}</td>
        <td>{{ msg.sent_on }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
